#div-from{
    width: 200px;
    min-height: 600px;
    margin: 20px auto;
    padding: 20px;
}

form{
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 0px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    padding: 35px 0px;
    letter-spacing: 2px;
}

button{
    width: 110px;
    height: 30px;
    margin-left: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--preto);
    cursor: pointer;
    margin: 10px;

}

#btnAdd{
    background-color: var(--botao1);
    margin-right: 15px;
}

#btnlimpar{
    background-color: var(--botao2);
}